<!-- BASE TOP -->

{% extends 'core/base.html' %}
{% load static %}
{% block content %}

	<!-- about -->
	<div class="about agileinfo">
		<div class="container">
			<h3 class="agileits-title">Sobre nosotros</h3>
			<div class="markets-grids">
				<div class="col-md-6 about-w3left">
					<h4>ESTAMOS FELICES <br> DE SER:</h4>
					<p>Una organización sin fines de lucro que busca divulgar información sobre animalitos (perros y gatos) que se encuentran hospedados en el albergue "VILLA COLITAS" y buscan un hogar que los adopte como miembros de su familia.</p>

				</div>
				<div class="col-md-6 about-w3right">
					<img src="{% static 'core/images/g4.jpg' %}" alt="" />
				</div>
				<div class="clearfix"> </div>

			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- /services -->
	<div class="agile_secives " id="services">
		<div class="container">
			<h3 class="agileits-title two">A que nos dedicamos</h3>
			<div class="markets-grids">
				<div class="col-md-4 w3ls-markets-grid">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>DIVULGAR INFORMACIÓN</h5>
							<p>Sistematizar y centralizar la información de albergue "Villa Colitas".</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 w3ls-markets-grid">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>BRINDAR CONSEJOS</h5>
							<p>Brindar información para ser un adoptante responsable.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 w3ls-markets-grid">
					<div class="agileits-icon-grid">
						<div class="icon-left">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>FINAL FELIZ</h5>
							<p>Sección de mascotas felizmente adoptadas..</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- team -->
	
	</div>
	<!-- //team -->
	


{% endblock %}