{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
	<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<h3 class="agileits-title">Nuestras Mascotas</h3>
			<div class="gallery-agileinfo">

				{% for post in posts %}
				<div class="col-sm-4 col-xs-6 w3gallery-grids">
					<a href="{% url 'galeria:category' post.id %}" class="imghvr-hinge-right figure">
						<img src="{{post.image.url}}" alt="" title={{post.title}}/> 
						<div class="agile-figcaption">
						  <h4>{{post.title}}</h4>
						  <p>{{post.resumen}}</p>
						</div>
					</a>
				</div>
				{% endfor %}
			

				<div class="clearfix"> </div>

			</div>
		</div>
	</div>
	<!-- //gallery -->
	

{% endblock %}